@charset "UTF-8";

body {
	background: #f5f6f7;
}


/*---------------------------------- HEADER ------------------------------------*/

.logo h3 {
	color: #000;
	font-weight: 700;
	letter-spacing: 1px;
}

/* search */
.search-box {
	position: relative;
}

.search-box input {
	border-radius: 30px;
	padding: 10px 40px;
	border: 1px solid #ddd;
}

.search-box i {
	position: absolute;
	right: 15px;
	top: 12px;
	color: #777;
}

/* icons */
.icons {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}

.icon-item {
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	color: #333;
	transition: 0.3s;
}

.icon-item i {
	display: block;
	font-size: 18px;
	margin-bottom: 3px;
}

.icon-item:hover {
	color: #000;
	transform: translateY(-2px);
}

/* menu */
.menu-bar {
	background: #fff;
	border-top: 1px solid #eee;
	padding: 10px 0;
}

.categories {
	background: #000;
	color: #fff;
	padding: 8px 15px;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;
}

.categories:hover {
	background: #333;
}

.nav-link {
	color: #333;
	font-weight: 500;
	transition: 0.3s;
}

.nav-link:hover {
	color: #000;
}

/*---------------------------------- Hamburger menu ------------------------------------*/
.menu-btn {
	background: #000;
	color: white;
	border: none;
	font-size: 20px;
	padding: 8px 14px;
	border-radius: 6px;
	transition: 0.3s;
}

.menu-btn:hover {
	background: #333;
	color: white;
}

/* mobile menu */
.mobile-menu {
	list-style: none;
	padding: 0;
}

.mobile-menu li {
	margin-bottom: 15px;
}

.mobile-menu a {
	text-decoration: none;
	font-size: 16px;
	color: #333;
	display: block;
	padding: 10px;
	border-radius: 6px;
	transition: 0.3s;
}

.mobile-menu a:hover {
	background: #000;
	color: #fff;
}




.product-box {
	background: white;
	border-radius: 10px;
	padding: 20px;
}

.main-img {
	border: 1px solid #eee;
	border-radius: 8px;
}

.main-img img {
	width: 90%;
	margin: 0 auto;
	height: 300px;
}

.thumb-img {
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.thumb-img img {
	width: 100%;
}

.price {
	font-size: 28px;
	font-weight: 700;
	color: #5b5b5b;
}

.old-price {
	text-decoration: line-through;
	color: #aaa;
}

.save-badge {
	background: #ff4d4d;
	color: white;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 5px;
}

.stock {
	color: #0db14b;
	font-weight: 500;
}


.feature-icon {
	background: #e9f9ef;
	color: #1d1d1d;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.info-card {
	border: 1px solid #e4e4e4;
	border-radius: 8px;
	padding: 20px;
}



.custom-tabs .nav-link{
border:none;
color:#6c757d;
font-weight:500;
}

.custom-tabs .nav-link.active{
color:#1d1d1d;
border-bottom:3px solid #1d1d1d;
background:none;
}

.tab-box{
background:white;
padding:10px;
border-radius:10px;
border:1px solid #eee;
}

.info-card{
border:2px solid #1d1d1d;
border-radius:12px;
padding:20px;
background:#fff;
}

.info-row{
display:flex;
justify-content:space-between;
margin:10px 0;
}

.feature-list{
list-style:none;
padding:0;
}

.feature-list li{
margin:12px 0;
}

.feature-list i{
color:#5b5b5b;
margin-right:8px;
}

.shipping-card{
background:#f5f5f5;
border-radius:15px;
padding:25px;
}

.shipping-card ul{
list-style:none;
padding:0;
}

.shipping-card li{
margin:10px 0;
}

.buyer-box{
background:#f5f5f5;
border-radius:12px;
padding:25px;
}

/* Add To Cart Button */
.add-cart-btn {
    background-color: #1d1d1d;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.add-cart-btn:hover {
	background:#fff !important;
	color:black !important;
	border:1px solid black !important;
}

.wishlist-icon{
font-size:20px;
cursor:pointer;
transition:0.3s;
}

.wishlist-icon.active{
color:red;
font-weight:900;
}


.toast-success{
position: fixed;
top: 25px;
right: 25px;
background: #28a745;
color: white;
padding: 15px 22px;
border-radius: 8px;
font-size: 15px;
font-weight: 500;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
z-index: 9999;
display: flex;
align-items: center;
animation: slideIn 0.4s ease;
transition: opacity 0.5s ease;
}

@keyframes slideIn{
from{
transform: translateX(120%);
opacity:0;
}
to{
transform: translateX(0);
opacity:1;
}
}


/*---------------------------------- footer section ------------------------------------*/

.footer-section{
background:#f5f5f5;
padding:60px 0 20px;
font-family:sans-serif;
}

.footer-logo{
font-weight:700;
color:#333;
}

.footer-logo i{
color:#000;
margin-right:8px;
}

.footer-text{
color:#6c757d;
margin:15px 0;
}

.social-icons i{
font-size:18px;
margin-right:15px;
color:#555;
cursor:pointer;
transition:0.3s;
}

.social-icons i:hover{
color:#000;
}

.footer-title{
font-weight:600;
margin-bottom:15px;
}

.footer-links{
list-style:none;
padding:0;
}

.footer-links li{
margin-bottom:10px;
}

.footer-links a{
text-decoration:none;
color:#555;
transition:0.3s;
}

.footer-links a:hover{
color:#000;
text-decoration:underline;
}

.footer-bottom{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
flex-wrap:wrap;
}

.cart-icon{
font-size:28px;
color:#2ecc71;
}

@media(min-width:768px){
	
.main-img img {
	width: 98%;
	margin: 0 auto;
	height: 400px;
}
	
}

@media(min-width:992px){
	
.main-img img {
	width: 85%;
	margin: 0 auto;
	height: 500px;
}
	
}